
<h1 align = "center"> Clientes </h1>
<h2 align = "center"> Lista </h2>
<br>
<br>
<table align = "center" cellspacing = 6>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nome %></td>
    <td align = "center"><%= cliente.idade %></td>
    <td><%= link_to 'Mostrar', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Apagar', cliente, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
  <tr>
    <td colspan = 5 align = "center">
      <br>
      <%= link_to 'Novo Cliente', new_cliente_path %> 
    </td>
  </tr>
</table>

<br />


