<h1 align = "center"> Clientes </h1>
<h2 align = "center"> Lista </h2>
<br>
<br>
<table align = "center" cellspacing = 6>
  <tr>
    <th> <font size = 3> Nome</th>
    <th> <font size = 3> Idade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @clientes.each do |cliente| %>
  <tr>
    
    <td> <font size = 3> <%= cliente.nome %> </font> </td>
    <td> <font size = 3> <%= cliente.idade %> </font> </td>
    <td> <font size = 3> <%= link_to 'Mostrar', cliente %></td>
    <td> <font size = 3> <%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td> <font size = 3> <%= link_to 'Deletar', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </font>
  </tr>
  <% end %>
  <tr>
    <td colspan = 5 align = "center">
      <br>
      <font size = 3>
      <%= link_to 'Novo Cliente', new_cliente_path %>
    </font>
    </td>
  </tr>
</table>


