
<table align = "center">
   <tr>
      <td align = "center" width = "50%">
         <div class = "pontaEsq"></div> 
      <td align = "center">
         <a href= "http://localhost:3000/Clientes"> <div class = "botaoCliente"></div> </a> 
      </td>
      <td align = "center"> 
         <a href= "http://localhost:3000/Qualificacoes"> <div class = "botaoQualific"></div> </a> 
      </td>
      <td align = "center">
         <a href= "http://localhost:3000/restaurante"> <div class = "botaoRest"> </div> </a>
      </td>
      <td align = "center">
         <a href= "http://localhost:3000/Comentarios"> <div class = "botaoComent"></div> </a>
      </td>
      <td align = "center" width = "50%">
         <div class = "pontaDir"></div> 
      </td>
   </tr>
</table>

<p id="notice"><%= notice %></p>
<h1 align = "center"> Cliente </h1>
<h2 align = "center"> Mostrar </h2>
<br>
<br>

<p align = "center">
  <font size = 4>
      <b>Nome:</b>
      <%= @cliente.nome %>  
   </font>
</p>

<p align = "center">
   <font size = 4>
      <b>Idade:</b>
      <%= @cliente.idade %>
   </font>   
</p>

<p align = "center" >
   <font size = 3>
<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>
   </font>
</p>

<br><br><br>

<table align = "center" width = "100%" height = "75px">
   <tr>
      <td class = "rodape" align = "center">
         Desenvolvido por: Rafael e Leonardo - RubyThree Desenvolvimento de Aplicativos Web & Mobile (iPhone/Android) <br>
         Todos os direitos reservados ©
      </td>
   </tr>
</table>