
<p id="notice"><%= notice %></p>
<h1 align = "center"> Cliente </h1>
<h2 align = "center"> Mostrar </h2>
<br>
<br>

<p align = "center">
  <font size = 4>
      <b>Nome:</b>
      <%= @cliente.nome %>  
   </font>
</p>

<p align = "center">
   <font size = 4>
      <b>Idade:</b>
      <%= @cliente.idade %>
   </font>   
</p>

<p align = "center" >
   <font size = 3>
<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>
   </font>
</p>

<br><br><br>
