

<%= render partial: "titulo" %>


<h1 align = "center"> Restaurante</h1>
<h2 align = "center"> Editar </h2>
<br>
<br>

<% if @restaurante.errors.any? %>
<ul>
<% @restaurante.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<table align ="center">
<tr> 
   <%= form_for :restaurante, url: {action: 'update',
   id: @restaurante},:html => {:multipart=>true}  do |f| %>
   <td align = "right"> Nome: </td>
   <td> <%= f.text_field :nome %></td>
</tr>
<tr>
   <td align = "right"> Endereço: </td>
   <td> <%= f.text_field :endereco %></td>
</tr>
<tr>   
   <td align = "right"> Especialidade: </td>
   <td> <%= f.text_field :especialidade %></td>
</tr>
<tr>
   <td colspan = 5>
      <br><br>
      <%= f.file_field :foto %>
   </td>
</tr>
<tr align = "center">
   <td colspan = 5>
      <br>
      <%= submit_tag 'Atualizar' %>
   </td>
</tr>
<tr align = "center">
<% end %>
   <td colspan = 5>
      <br>
         <%= link_to 'Voltar', action: 'index' %>
   </td>
</tr>
</table>

<br><br><br>
