	
<table align = "center">
   <tr>
      <td align = "center" width = "50%">
         <div class = "pontaEsq"></div> 
      <td align = "center">
         <a href= "http://localhost:3000/Clientes"> <div class = "botaoCliente"></div> </a> 
      </td>
      <td align = "center"> 
         <a href= "http://localhost:3000/Qualificacoes"> <div class = "botaoQualific"></div> </a> 
      </td>
      <td align = "center">
         <a href= "http://localhost:3000/restaurante"> <div class = "botaoRest"> </div> </a>
      </td>
      <td align = "center">
         <a href= "http://localhost:3000/Comentarios"> <div class = "botaoComent"></div> </a>
      </td>
      <td align = "center" width = "50%">
         <div class = "pontaDir"></div> 
      </td>
   </tr>
</table>
	
	<%= render partial: "titulo" %>

	<h1 align = "center"> Restaurante </h1>
	<h2 align = "center"> Mostrar </h2>
	<br>
	<br>
<table align = "center">
	<tr>
	<td align = "center">
		<font size = 3>
			<b>Nome: </b>
			<%= @restaurante.nome %>
		</font>	
	</td>
</tr>
<tr>
	<td align = "center">
		<font size = 3>
			<b>Endereço: </b>
			<%= @restaurante.endereco %>
		</font>
	</td>
</tr>
<tr>	
	<td align = "center">
		<font size = 3> 
			<b>Especialidade: </b>
			<%= @restaurante.especialidade %>
		</font>
	</td>
</tr>
<tr>
	<td align = "center">
		<font size = 3>
			<br>
			<b>Foto:</b>
			<br><br>
			<%= image_tag @restaurante.foto.url(:thumb) %>
		</font>
	</td>
</tr>
<tr>
	<td align = "center">
<br>
	<%= link_to "Qualificar este restaurante",
		:controller => "qualificacoes",
		:action => "new",
		:restaurante => @restaurante %>
	</p>
	<p align = "center">
		<%= link_to 'Editar', action: 'edit', id: @restaurante  %>
		
	<% unless @restaurante.comentarios.empty?%>
		<%= comentarios @restaurante %>
	<% end %>


		<%= novo_comentario(@restaurante) %>
		<br>

		<%= link_to 'Voltar', action: 'index'  %>
	</td>
</table>

<br><br><br>

<table align = "center" width = "100%" height = "75px">
   <tr>
      <td class = "rodape" align = "center">
         Desenvolvido por: Rafael e Leonardo - RubyThree Desenvolvimento de Aplicativos Web & Mobile (iPhone/Android) <br>
         Todos os direitos reservados ©
      </td>
   </tr>
</table>