<h1 align = "Center">Comentarios</h1>
<h2 align = "Center">Lista</h2>
<table valign = "middle " align = "center" cellspacing = 6>
  <tr>
    <th>Conteudo</th>
    <th>Comentavel</th>
    <th>Tipo Comentario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comentarios.each do |comentario| %>
  <tr>
    <td><%= comentario.conteudo %></td>
    <td align = "center"><%= comentario.comentavel_id %></td>
    <td align = "center"><%= comentario.comentavel_type %></td>
    <td><%= link_to 'Mostrar', comentario %></td>
    <td><%= link_to 'Editar', edit_comentario_path(comentario) %></td>
    <td><%= link_to 'Deletar', comentario, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
<td colspan = 5 align = "center"><br>
<%= link_to 'Novo Comentario', new_comentario_path %>
</td>
</table>

<br />
