
<h1 align = "Center">Comentários</h1>
<h2 align = "Center">Lista</h2>
<table valign = "middle " align = "center" cellspacing = 6>
  <tr>
    <th><font size = 3>Conteudo</th>
    <th><font size = 3>Comentavel</th>
    <th><font size = 3>Tipo Comentario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comentarios.each do |comentario| %>
  <tr>
    <td><font size = 3><%= comentario.conteudo %></td>
    <td align = "center"><font size = 3><%= comentario.comentavel_id %></td>
    <td align = "center"><font size = 3><%= comentario.comentavel_type %></td>
    <td><font size = 3><%= link_to 'Mostrar', comentario %></td>
    <td><font size = 3><%= link_to 'Editar', edit_comentario_path(comentario) %></td>
    <td><font size = 3><%= link_to 'Deletar', comentario, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
<td colspan = 5 align = "center"><br>
  <%= paginate @comentarios%>
<font size = 3><%= link_to 'Novo Comentario', new_comentario_path %>
</td>
</table>
