
<p id="notice"><%= notice %></p>
<h1 align = "Center">Comentários</h1>
<h2 align = "Center">Mostrar</h2>
<br>
<br>

<p align = "center">
  <font size = 4>
      <b>Conteúdo:</b>
      <%= @comentario.conteudo %>
</p>

<p align = "center">
  <font size = 4>
      <b>Comentável:</b>
      <%= @comentario.comentavel_id %>
</p>

<p align = "center">
  <font size = 4>
      <b>Comentável Type:</b>
      <%= @comentario.comentavel_type %>
</p>

<p align = "center">
<%= link_to 'Editar', edit_comentario_path(@comentario) %> |
<%= link_to 'Voltar', comentarios_path %>
</p>

<br><br><br>
