
<table align = "center">
   <tr>
      <td align = "center" width = "50%">
         <div class = "pontaEsq"></div> 
      <td align = "center">
         <a href= "http://localhost:3000/Clientes"> <div class = "botaoCliente"></div> </a> 
      </td>
      <td align = "center"> 
         <a href= "http://localhost:3000/Qualificacoes"> <div class = "botaoQualific"></div> </a> 
      </td>
      <td align = "center">
         <a href= "http://localhost:3000/restaurante"> <div class = "botaoRest"> </div> </a>
      </td>
      <td align = "center">
         <a href= "http://localhost:3000/Comentarios"> <div class = "botaoComent"></div> </a>
      </td>
      <td align = "center" width = "50%">
         <div class = "pontaDir"></div> 
      </td>
   </tr>
</table>


<h1 align = "center"> Qualificações </h1>
<h2 align = "center"> Lista </h2>
<br>
<br>
<table align = "center" cellspacing = 6 >
  <tr>
    <th>Cliente</th>
    <th>Restaurante</th>
    <th>Nota</th>
    <th>Valor gasto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qualificacoes.each do |qualificacao| %>
  <tr>
    <td><%= qualificacao.cliente.nome %></td>
    <td align = "center"><%= qualificacao.restaurante_id  %></td>
    <td align = "center"><%= qualificacao.nota %></td>
    <td align = "center"><%= qualificacao.valor_gasto %></td>
    <td><%= link_to 'Mostrar', qualificacao %></td>
    <td><%= link_to 'Editar', edit_qualificacao_path(qualificacao) %></td>
   <!--> <td><%= link_to 'Apagar', qualificacao, method: :delete, data: { confirm: 'Você tem certeza?' } %></td><!-->
  </tr>
<% end %>
  <tr>
    <td align = "center" colspan = 7>
      <br>
      <%= link_to 'Nova Qualificacao', new_qualificacao_path %>
    </td>
  </tr>
</table>

<br><br><br>

<table align = "center" width = "100%" height = "75px">
   <tr>
      <td class = "rodape" align = "center">
         Desenvolvido por: Rafael e Leonardo - RubyThree Desenvolvimento de Aplicativos Web & Mobile (iPhone/Android) <br>
         Todos os direitos reservados ©
      </td>
   </tr>
</table>
