<h1 align = "center"> Qualificações </h1>
<h2 align = "center"> Lista </h2>
<br>
<br>
<table align = "center" cellspacing = 6 >
  <tr>
    <th> <font size = 3> Cliente</th>
    <th> <font size = 3> Restaurante</th>
    <th> <font size = 3> Nota</th>
    <th> <font size = 3> Valor gasto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qualificacoes.each do |qualificacao| %>
  <tr>
    <td> <font size = 3> <%= qualificacao.cliente.nome %></td>
    <td align = "center"> <font size = 3> <%= qualificacao.restaurante_id %></td>
    <td align = "center"> <font size = 3> <%= qualificacao.nota %></td>
    <td align = "center"> <font size = 3> <%= qualificacao.valor_gasto %></td>
    <td> <font size = 3> <%= link_to 'Mostrar', qualificacao %></td>
    <td> <font size = 3> <%= link_to 'Editar', edit_qualificacao_path(qualificacao) %></td>
    <td> <font size = 3> <%= link_to 'Deletar', qualificacao, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />
  <%= paginate @qualificacoes%>
 <font size = 3> <%= link_to 'Nova Qualificação', new_qualificacao_path %>
