<p id="notice"><%= notice %></p>

<h1 align = "center"> Qualificações </h1>
<h2 align = "center"> Mostrar </h2>
<br>

<p align = "center">
  <font size = 3>
      <b>Cliente:</b>
  <%= @qualificacao.cliente.nome %>
</p>

<p align = "center">
  <font size = 3>
      <b>Restaurante:</b>
  <%= @qualificacao.restaurante.nome %>
</p>

<p align = "center">
  <font size = 3>
      <b>Nota:</b>
  <%= @qualificacao.nota %>
</p>

<p align = "center">
  <font size = 3>
      <b>Valor Gasto:</b>
  <%= @qualificacao.valor_gasto %>
</p>

<p align = "center">
    <font size = 3>
<%= link_to 'Editar', edit_qualificacao_path(@qualificacao) %> |
<%= link_to 'Voltar', qualificacoes_path %>
</p>