<!DOCTYPE html>
<html>
<head>
  <title>::Controle de Restaurantes 3.0 ::.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="links">
    <div id="innerlinks">
      <div class="menus">
        <a class="links" href="http://localhost:3000/restaurantes">Restaurantes</a>
      </div>
      <div class="bullet">&nbsp;</div>
      <div class="menus">
        <a class="links" href="http://localhost:3000/Clientes">Clientes</a>
      </div>
      <div class="bullet">&nbsp;</div>
      <div class="menus">
        <a class="links" href="http://localhost:3000/Qualificacoes">Qualificações</a>
      </div>
      <div class="bullet">&nbsp;</div>
      <div class="menus">
        <a class="links" href="http://localhost:3000/Comentarios">Comentários</a>
      </div>
    </div>
  </div>
  <div id="header">
      <div id="leftpart">
        <div id="login">
          <div id="user_nav">
            <p align="center">
            <font align="center" color="#d5948e"><b>
              <% if user_signed_in? %>
                Conectado ao sistema como 
                  <br><font color="#fff"><%= current_user.email %></font>. 
                  <br>Não é você?
                  <font color="#fff"> <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
                  </font>
              <% else %>
                <%= link_to "Registrar-se", new_user_registration_path %> ou <%= link_to "Fazer Login", new_user_session_path %>
              <% end %>
            </b>
            </font>
          </p>
          </div>
      </div>
        <h1 class="heading1"><span class="text1">Cow Enterprises</span> <br  /><span class="text2">Sistema v3.0</span></h1></div>
      <div id="rightpart"></div>
  </div>
  <div id="bodypart">

    <div id="center">
    

      <%= yield %>
      <script type="text/javascript">
      <%=yield :js%>
      </script>


    
    </div>

  </div>
  <div id="footer">
    <p class="content4" align = "center"> Desenvolvido e adaptado por Rafael e Leonardo.<br> RubyThree Desenvolvimento de Aplicativos Web & Mobile (iPhone/Android) <br>&nbsp;</p> 
  </div>
</div>
</body>
</html>
